<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" href="../src/style.css">
          <title>Dashboard</title>
          <style>
                    table {
                        border-collapse: collapse;
                        margin-left: 15%;
                    }
                    th, td {
                        border: 1px solid black;
                        padding: 8px;
                        margin-left: 15%;
                    }
          </style>
</head>
<body>
<main>
          <div class="header1"> Dashboard</div>

          <!-- Side navigation -->
          <div class="sidenav">
                    <a href="../view/dashboard.html">Dashboard</a>
                    <a href="../view/transaction.html">Transactions</a>
                    <a href="#">Add income</a>
                    <a href="/view/addExpense.html">Add expense</a>
                    <a href="#">Invoices</a>
                    <a href="#">My Wallet</a>
          </div>

          <h1 style="margin-left: 15%;">Balance and Categories</h1>
          <table id="data-table">
              <thead>
                  <tr>
                      <th>Balance</th>
                      <th>Income Categories</th>
                      <th>Expenses Categories</th>
                  </tr>
              </thead>
              <tbody></tbody>
          </table>

          <div style="margin-left: 15%; display:block; ">
                    <div>Today
                              <table id="data-table-today" >
                                        <thead>
                                                  
                                            <tr>
                                                <th >Amount </th>
                                                <th >Date  </th>                                    
                                                <th >Repeat  </th>
                                                <th >Category </th>
                                                <th>Comment</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                              </table>
                    </div>
                    <div>Last Week
                              <table id="data-table-lastWeek" >
                                        <thead>
                                                  
                                            <tr>
                                                <th >Amount </th>
                                                <th >Date  </th>                                    
                                                <th >Repeat  </th>
                                                <th >Category </th>
                                                <th>Comment</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                              </table>
                    </div>
                    <div>Last Month 
                              <table id="data-table-lastMonth" >
                                        <thead>
                                                  
                                            <tr>
                                                <th >Amount </th>
                                                <th >Date  </th>                                    
                                                <th >Repeat  </th>
                                                <th >Category </th>
                                                <th>Comment</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                              </table>
                    </div>
                    <div>Last Year 
                              <table id="data-table-lastYear" >
                                        <thead>
                                                  
                                            <tr>
                                                <th >Amount </th>
                                                <th >Date  </th>                                    
                                                <th >Repeat  </th>
                                                <th >Category </th>
                                                <th>Comment</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                              </table>
                    </div>
                    
          </div>
          <script src="../controllers/periods.js"></script>
          <script src="../controllers/wizardScript.js"></script>
          <script src="../controllers/dashboard.js"></script>


</main>       



</body>
</html>